@import 'bootstrap';

@font-face {
  font-family: "VeganStyle";
  src: url("../public/fonts/vegan-style-font/VeganStylePersonalUse-5Y58.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
    background: #fffaf8
}

.website-name{
    font-family: "VeganStyle";
    text-shadow: 1px 4px 5px #aaa;
}

.text-shadow-1{
    text-shadow: 1px 1px 1px #aaa;
}

.text-shadow-2{
    text-shadow: 2px 2px 2px #aaa;
}

.text-shadow-3{
    text-shadow: 3px 3px 3px #aaa;
}

.home_text_1{
    padding:0px !important;
    margin:0px !important;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
}

.home_text_2{
    padding:0px !important;
    margin:0px !important;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#aaa;
}

.home_text_3{
    font-size: 20px;
    border-left: #aaa 2px solid;
    padding-left: 20px;
    margin-top: 50px;
}

.border-radius-top-left-20{
    border-radius: 20px 20px 0 0;
}
.featured_product_outerdiv{
    position:relative;
    background-color: #23212a;
}
.featured_product_image{
    z-index: 99;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.featured_product_text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#fffaf8;
    padding:0px;
    margin: 0px;
}
.featured_product_text_subtext{
    color:#fffaf8;
    font-size: 13px;
}
.featured_product_backdesign1{
    background-color:#f0a0a6;
    position:absolute;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hamburger_menu{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    /* border: solid 2px #000; */
    padding:0 5px;
    display: none;
    left: 0px;
}

.hamburger_menu_line{
    height: 2px;
    background-color: #000;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 7px;
}

@media screen and (max-width: 767px) {
    .hamburger_menu{
        display: block;
    }

    .main_menu{
        display: none !important;
    }
}

/* custom container responsive */
.container-md-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem) !important;
  padding-left: var(--bs-gutter-x, .75rem) !important;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px) {
  .container-md-fluid {
    max-width: 100%;
  }
}

.featured_product_vertical_line{
    position: absolute;
    right: 0;
    width: 1px;
    background-color: #fffaf8;
    height: 100%;
    top:0px;
}